/*************************
Global Styles
**************************/
html{font-size:62.5%;-webkit-text-size-adjust:62.5%;-ms-text-size-adjust:62.5%}
html,html a{-webkit-font-smoothing:antialiased;text-shadow:1px 1px 1px rgba(0,0,0,0.004)}
html,button,input,select,textarea{font-family:$font-raleway;font-weight:300;}
body{margin:0;font-size:1.6rem;line-height:1.625;font-family:$font-raleway;background-color:$primary-background;overflow: hidden}
input:focus{outline:0;}
/*************************
Typography
**************************/
h1,h2,h3,h4,h5,h6{color:$primary-color}
h1 light,h2 light,h3 light,h4 light,h5 light,h6 light{color:$white}
h1{font-size:32px;font-size:3.6rem;line-height:.813}
h2{font-size:24px;font-size:2.4rem;line-height:1.083}
h3{font-size:19px;font-size:1.9rem;line-height:1.368}
h4{font-size:16px;font-size:1.6rem;line-height:1.625}
h5{font-size:14px;font-size:1.4rem;line-height:1.857}
h6{font-size:13px;font-size:1.3rem;line-height:2}
p{font-family: $font-roboto;}
/*************************
Links
**************************/
a{text-decoration:none;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms}
a:focus,a:hover{text-decoration:none;outline:none}
/*************************
Parallax
**************************/
.parallax{background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed}
.parallax,.parallax h1,.parallax h2,.parallax h3,.parallax h4,.parallax h5,.parallax h6{color:$white;}
.parallax input[type="text"],.parallax input[type="text"]:hover,.parallax input[type="email"],.parallax input[type="email"]:hover,.parallax input[type="url"],.parallax input[type="url"]:hover,.parallax input[type="password"],.parallax input[type="password"]:hover,.parallax textarea,.parallax textarea:hover{font-weight:300;color:$white;}
/*************************
Section
**************************/
.padding-none{padding:0;}
.section-padding { padding: 90px 0 100px }
.section-padding-none { padding: 0}
.section-heading {margin: 60px 0 80px; text-align: center}
.section-heading h1{display:inline-block;font-size:5.5rem;margin-bottom:0}
.section-heading p{font-size:25px;color:#999;font-weight:300}
.section-heading .divider:after{content:"";position:relative;height:4px;width:60px;display:block;text-align:center;margin:13px auto;-webkit-border-radius:5em;-moz-border-radius:5em;-ms-border-radius:5em;-o-border-radius:5em;border-radius:5em}
.section-heading.inverse h1,.section-heading.inverse p{color:#fff}
.section-heading.inverse .divider:after{background:#fff}
/*************************
Material Components
**************************/
md-tooltip{z-index: $tooltip-zindex}
md-toolbar.md-jetThunder2-theme {background-color: $primary-background-dark !important; z-index: $navbar-zindex}
md-sidenav.md-jetThunder2-theme {z-index: $sidenav-zindex}
md-open-menu.md-jetThunder2-theme{z-index: $menu-zindex}
md-list.md-jetThunder2-theme{padding: 0 !important}
md-backdrop._md-menu-backdrop{z-index: $backdrop-zindex}
md-backdrop._md-sidenav-backdrop{z-index: $backdrop-zindex}
.md-open-menu-container.md-active{z-index: $menu-zindex}
._md-open-menu-container.md-jetThunder2-theme{z-index: $menu-zindex}
/*************************
Please Wait
**************************/
.splashMessage {color: $white}
/*************************
Media Queries
**************************/
// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {
  body{font-size:1.4rem;line-height:1.643;}
  .section-padding {padding: 45px 0;}}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) { }

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) { }

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) { }