/*************************
Imports
**************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,700,900);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*************************
Master
**************************/
/*************************
Base Fonts
**************************/
/*************************
Base Colors
**************************/
/*************************
Base Components
**************************/
/*************************
Base Borders
**************************/
/*************************
Base Alerts
**************************/
/*************************
Base Z-index
**************************/
/*************************
Base Flexbox
**************************/
/*************************
Global Styles
**************************/
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html, button, input, select, textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 300; }

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.625;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  overflow: hidden; }

input:focus {
  outline: 0; }

/*************************
Typography
**************************/
h1, h2, h3, h4, h5, h6 {
  color: #555964; }

h1 light, h2 light, h3 light, h4 light, h5 light, h6 light {
  color: #fff; }

h1 {
  font-size: 32px;
  font-size: 3.6rem;
  line-height: .813; }

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.083; }

h3 {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.368; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.625; }

h5 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.857; }

h6 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 2; }

p {
  font-family: "Roboto", sans-serif; }

/*************************
Links
**************************/
a {
  text-decoration: none;
  transition: 300ms; }

a:focus, a:hover {
  text-decoration: none;
  outline: none; }

/*************************
Parallax
**************************/
.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.parallax, .parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6 {
  color: #fff; }

.parallax input[type="text"], .parallax input[type="text"]:hover, .parallax input[type="email"], .parallax input[type="email"]:hover, .parallax input[type="url"], .parallax input[type="url"]:hover, .parallax input[type="password"], .parallax input[type="password"]:hover, .parallax textarea, .parallax textarea:hover {
  font-weight: 300;
  color: #fff; }

/*************************
Section
**************************/
.padding-none {
  padding: 0; }

.section-padding {
  padding: 90px 0 100px; }

.section-padding-none {
  padding: 0; }

.section-heading {
  margin: 60px 0 80px;
  text-align: center; }

.section-heading h1 {
  display: inline-block;
  font-size: 5.5rem;
  margin-bottom: 0; }

.section-heading p {
  font-size: 25px;
  color: #999;
  font-weight: 300; }

.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  border-radius: 5em; }

.section-heading.inverse h1, .section-heading.inverse p {
  color: #fff; }

.section-heading.inverse .divider:after {
  background: #fff; }

/*************************
Material Components
**************************/
md-tooltip {
  z-index: 1000; }

md-toolbar.md-jetThunder2-theme {
  background-color: #343434 !important;
  z-index: 400; }

md-sidenav.md-jetThunder2-theme {
  z-index: 500; }

md-open-menu.md-jetThunder2-theme {
  z-index: 450; }

md-list.md-jetThunder2-theme {
  padding: 0 !important; }

md-backdrop._md-menu-backdrop {
  z-index: 410; }

md-backdrop._md-sidenav-backdrop {
  z-index: 410; }

.md-open-menu-container.md-active {
  z-index: 450; }

._md-open-menu-container.md-jetThunder2-theme {
  z-index: 450; }

/*************************
Please Wait
**************************/
.splashMessage {
  color: #fff; }

/*************************
Media Queries
**************************/
@media (max-width: 33.9em) {
  body {
    font-size: 1.4rem;
    line-height: 1.643; }
  .section-padding {
    padding: 45px 0; } }

/*************************
Views
**************************/
.view {
  height: calc(100% - 64px); }

/*************************
* Animations
**************************/
.view.ng-leave {
  z-index: 20;
  animation: 0.8s fadeOut ease; }

.view.ng-enter {
  z-index: 10;
  animation: 0.8s fadeIn ease; }

/*************************
Components
**************************/
/*************************
Main
**************************/
.homeView .container-fluid, .container-fluid .col-sm-3 {
  overflow: hidden;
  padding: 0; }

.homeItem {
  position: relative; }

.homeItem:hover .homeItemOverlay {
  opacity: .8;
  bottom: 0;
  height: 100%; }

.homeItem:hover .homeItemOverlay .homeItemOverlayInfo {
  opacity: 1;
  margin-bottom: 0;
  margin-top: 0; }

.homeItemImage img {
  width: 100%; }

.homeItemOverlay {
  background-color: #1776a0;
  color: #fff;
  left: 0;
  right: 0;
  bottom: -100%;
  height: 0;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: all .5s ease-in-out; }

.homeItemOverlayContent {
  display: table;
  height: 100%;
  width: 100%; }

.homeItemOverlayText {
  display: table-cell;
  vertical-align: middle; }

.homeItemOverlayInfo {
  opacity: 0;
  margin-bottom: 75px;
  margin-top: -75px;
  transition: all 1s ease-in-out; }

.homeItemOverlayInfo h3 {
  margin-top: 0;
  color: #fff; }

/*************************
Media Queries
**************************/
/*************************
JetThunder
**************************/
.jetThunderDisplay {
  background-image: url("../../app/images/profile/profileBackground.png");
  background-position: 0% 45px;
  height: 400px; }

.jetThunderMeta {
  position: relative;
  z-index: 100; }

.jetThunderStats {
  display: block;
  width: 100%;
  height: 60px;
  background: rgba(85, 89, 100, 0.3);
  margin-top: -60px; }

.jetThunderUser {
  display: block;
  width: 250px;
  height: 250px;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  background: #555964;
  margin-top: -170px;
  margin-left: calc(15% - 125px); }

.jetThunderUserImage {
  width: 100%; }

.jetThunderName {
  padding-bottom: 40px;
  font-weight: 100;
  font-size: 5rem; }

/*************************
Media Queries
**************************/
@media (max-width: 61.9em) {
  .jetThunderUser {
    width: 150px;
    height: 150px;
    margin-top: -102px;
    margin-left: calc(50% - 125px); } }

/*************************
Blog
**************************/
.blogSearch {
  background: transparent;
  color: #1776a0;
  width: 100%;
  height: 60px;
  border: 0;
  font-size: 3.6rem;
  font-weight: 100;
  letter-spacing: 1rem;
  text-align: left;
  text-transform: uppercase; }

.blogItem {
  background: #fff;
  margin: 0;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.blogItemTitle {
  padding-bottom: 40px;
  font-weight: 100;
  font-size: 5rem; }

.blogItemTag {
  text-transform: uppercase;
  padding: 0.5rem; }

.blogItemImage {
  width: 100%; }

.blogItemMeta {
  position: relative;
  z-index: 100; }

.blogItemAuthor {
  display: block;
  width: 70px;
  height: 70px;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: -35px auto 0;
  background: #555964; }

.blogItemAuthorImage {
  width: 100%; }

/*************************
Media Queries
**************************/
/*************************
Navbar
**************************/
.navbarLogo {
  height: 40px; }

.navbarMobileLogo {
  display: none; }

.navbarProfile {
  border-radius: 50%;
  background-size: 32px 32px;
  border-radius: 50%;
  overflow: hidden;
  height: 32px;
  width: 32px;
  margin: 6px; }

.navbarProfileImage {
  width: 100%; }

.navbarIcon {
  color: #555964 !important; }

.navbarWifiOnIcon {
  color: #007AA9 !important; }

.navbarWifiOffIcon {
  color: #EA443D !important; }

/*************************
Media Queries
**************************/
@media (max-width: 33.9em) {
  .navbarTitle {
    display: none; }
  .navbarLogo {
    display: none; }
  .navbarMobileLogo {
    height: 40px;
    display: block; } }

@media (max-width: 47.9em) {
  .navbarTime {
    display: none; } }

/*************************
Navigation
**************************/
.sideNavToolbar {
  border-bottom: 1px solid #555964; }

.sideNavIcon {
  color: #555964 !important; }

/*************************
Media Queries
**************************/
/*************************
Footer
**************************/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background-color: #fff;
  color: #555964;
  border-top: 1px solid #d9d9d9;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

/*************************
Media Queries
**************************/
@media (max-width: 47.9em) {
  .footerLogos {
    display: none; } }
