<!-- Footer -->
<footer class="footer">
    <h4>&copy JetThunder v2.0 {{FooterCtrl.copyrightDate}}</h4>
    <div class="footerLogos">
        <md-button class="md-icon-button" ng-href="https://angularjs.org/" target="_blank" aria-label="Designed with Angular JS">
            <md-tooltip md-direction="top" md-delay="250">
                Angular JS
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/angular-logo.svg" aria-label="AngularJS Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="https://bower.io/" target="_blank" aria-label="Installed with Bower">
            <md-tooltip md-direction="top" md-delay="250">
                Bower
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/bower-logo.svg" aria-label="Bower Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="https://firebase.google.com/" target="_blank" aria-label="Authenticated with Firebase">
            <md-tooltip md-direction="top" md-delay="250">
                Firebase
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/firebase-logo.svg" aria-label="Firebase Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="https://pages.github.com/" target="_blank" aria-label="Hosted with Github Pages">
            <md-tooltip md-direction="top" md-delay="250">
                Github Pages
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/github-logo.svg" aria-label="Github Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="http://gulpjs.com/" target="_blank" aria-label="Built with Gulp">
            <md-tooltip md-direction="top" md-delay="250">
                Gulp
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/gulp-logo.svg" aria-label="Gulp Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="https://karma-runner.github.io/1.0/index.html" target="_blank" aria-label="Tested with Karma">
            <md-tooltip md-direction="top" md-delay="250">
                Karma
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/karma-logo.svg" aria-label="Karma Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="https://nodejs.org/en/" target="_blank" aria-label="Deployed with Node JS">
            <md-tooltip md-direction="top" md-delay="250">
                Node JS
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/nodejs-logo.svg" aria-label="Node JS Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="https://www.npmjs.com/" target="_blank" aria-label="Installed with NPM">
            <md-tooltip md-direction="top" md-delay="250">
                NPM
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/npm-logo.svg" aria-label="NPM Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="http://sass-lang.com/" target="_blank" aria-label="Designed with Sass">
            <md-tooltip md-direction="top" md-delay="250">
                Sass
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/sass-logo.svg" aria-label="Sass Icon"></md-icon>
        </md-button>
    </div>
</footer>
<!-- /Footer -->