<!-- Footer -->
<footer class="footer">
    <h4>&copy JetThunder v2.0 {{FooterCtrl.copyrightDate}}</h4>
    <div>
        <a class="footerTwitter footerSocial"><i class="fa fa-twitter"></i></a>
        <a class="footerFacebook footerSocial"> <i class="fa fa-facebook"></i></a>
        <a class="footerGoogle-plus footerSocial"><i class="fa fa-google-plus"></i></a>
        <a class="footerLinkedin footerSocial"><i class="fa fa-linkedin"></i></a>
        <a class="footerPinterest footerSocial"><i class="fa fa-pinterest-p"></i></a>
    </div>
</footer>
<!-- /Footer -->