<!-- Footer -->
<footer class="footer">
    <h4>&copy JetThunder v2.0 {{FooterCtrl.copyrightDate}}</h4>
    <div>
        <md-button class="md-icon-button" aria-label="Built with Github Pages">
            <md-tooltip md-direction="top" md-delay="250">
                Github
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/github-logo.svg" aria-label="Github Icon"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Built with Bower">
            <md-tooltip md-direction="top" md-delay="250">
                Bower
            </md-tooltip>
            <md-icon md-svg-icon="app/images/icons/bower-logo.svg" aria-label="Bower Icon"></md-icon>
        </md-button>
    </div>
</footer>
<!-- /Footer -->