<!-- JetThunder -->
<section>
    <div class="container-fluid text-xs-center">
        <div class="row">
            <div class="jetThunderDisplay parallax"></div>
            <div class="jetThunderMeta">
                <div class="jetThunderStats">
                </div>
                <div class="jetThunderUser">
                    <img class="jetThunderUserImage" ng-src="app/images/profile/profileImage.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-xs-center">
        <div class="row">
            <h1 class="jetThunderName">Matthew Farrow</h1>
            <h4>Author of <em><a ui-sref="main">JetThunder</a> </em></h4>
            <p class="jetThunderSummary">Hello! I'm Matt (JetThunder) Farrow</p>
        </div>
    </div>
</section>
<!-- /JetThunder -->