/*************************
Footer
**************************/
.footer{ position: fixed;  bottom: 0;  left: 0;  height: 48px;  width: 100%;  background-color: $white;  color: $primary-color; border-top: $border-light; padding-left: 20px; padding-right: 20px; z-index: $footer-zindex; @include flexRowBetweenCenter}
/*************************
Media Queries
**************************/
// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) {}

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) {
  .footerLogos {display: none}
}

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) {}

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) {}
