<!-- Blog -->
<section class="blogView section-padding">
    <div class="container text-xs-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <input class="blogSearch" placeholder="Search..." type="search" ng-model="BlogCtrl.search" ng-change="BlogCtrl.searchText()">
                <md-card class="blogItem" ng-repeat="post in BlogCtrl.blogItems | filter: BlogCtrl.search">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="blogItemDate">{{post.postDate}}</span>
                            <div class="blogItemTags">
                                <span class="blogItemTag" ng-repeat="tag in post.postTags">{{tag}}</span>
                            </div>
                        </md-card-header-text>
                    </md-card-header>
                    <div>
                        <img class="blogItemImage" ng-src="app/images/blog/post-{{post.photoURL}}"/>
                    </div>
                    <div class="blogItemMeta">
                        <div class="blogItemAuthor">
                            <img class="blogItemAuthorImage" ng-src="app/images/logos/rebel_blue_mobile.png"/>
                        </div>
                    </div>
                    <md-card-content>
                        <h1 class="blogItemTitle">{{post.postTitle}}</h1>
                        <h3>Posted by {{}}</h3>
                        <p ng-bind-html="post.postContent"></p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</section>
<!-- /Blog -->